################################################################################
# This file is part of snailcrypt-jsclient. For more information visit
# https://www snailcrypt.com
# Copyright (C) 2022-2023  Richard Bäck <richard.baeck@icloud.com>
#
# This program is free software; you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation; either version 2 of the License, or
# (at your option) any later version.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.
#
# You should have received a copy of the GNU General Public License along
# with this program; if not, write to the Free Software Foundation, Inc.,
# 51 Franklin Street, Fifth Floor, Boston, MA 02110-1301 USA.
################################################################################

RewriteEngine on

################################################################################
# Make only files accessible that are placed in the directory "public"
RewriteRule ^$ public/ [L]

################################################################################
# Any file/page accessed will be "re-directed" to the prefix "public"
RewriteCond public/$0 -f
RewriteRule .* public/$0 [L]

################################################################################
# Treat HTML files as PHP file
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule .*\.html  - [H=application/x-httpd-php]

################################################################################
# Disable all caching
Header unset ETag
Header set Cache-Control "max-age=0, no-cache, no-store, must-revalidate"
Header set Pragma "no-cache"
Header set Expires "Wed, 12 Jan 1980 05:00:00 GMT"
