RewriteEngine on

################################################################################
# Make only files accessible that are placed in the directory "public"
RewriteRule ^$ public/ [L]

################################################################################
# Any file/page accessed will be "re-directed" to the prefix "public"
RewriteCond public/$0 -f
RewriteRule .* public/$0 [L]

################################################################################
# Treat HTML files as PHP file
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule .*\.html  - [H=application/x-httpd-php]

################################################################################
# Disable all caching
Header unset ETag
Header set Cache-Control "max-age=0, no-cache, no-store, must-revalidate"
Header set Pragma "no-cache"
Header set Expires "Wed, 12 Jan 1980 05:00:00 GMT"
