/******************************************************************************
 * General popups
 */
#__xmlview0--timerWarningText {
    font-weight: bold;
    color: orange;
}

#__xmlview0--timerErrorText {
    font-weight: bold;
    color: red;
}